{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react"
  ],
  "plugins": [["import", {
      "libraryName": "antd",
      "style": true
    }],
    "@babel/transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel",
    "lodash"
  ]
}